<div id="carousel-example-generic" class="carousel slide"
							data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0"
									class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<img
										src="/image/girl.jpg"
										alt="..." />
									<div class="carousel-caption">
										<h4>Reading For The Future</h4>
										<p>Inspiring children to read at young age means a lot for the
											younger generation and for the future to come</p>
									</div>
								</div>
								<div class="item">
									<img
										src="/image/bookfair.gif"
										alt="..." />
									<div class="carousel-caption">
										<h4>Book Fair</h4>
										<p>Delievering quality books at you local book fair.</p>
									</div>
								</div>
								<div class="item">
									<img
										src="/image/adult.jpg"
										alt="..." />
									<div class="carousel-caption">
										<h4>For Adults to Enjoy! </h4>
										<p>We have books for every one in every age!</p>
									</div>
								</div>