<!-- Controls -->
							<a class="left carousel-control" href="#carousel-example-generic"
								role="button" data-slide="prev"> <span
								class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a> <a class="right carousel-control"
								href="#carousel-example-generic" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"
								aria-hidden="true"></span> <span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<img src="/image/logo.png" class="img-responsive" />
			</div>
		</div>

		<hr />

		<div class="row">
			<div class="col-xs-4">
				<div clas="panel panel-default">
					<div class="panel-body">
						<img src="/image/bestseller.png" class="img-responsive" />
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div clas="panel panel-default">
					<div class="panel-body">
						<img src="/image/hours.png" class="img-responsive" />
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div clas="panel panel-default">
					<div class="panel-body">
						<img src="/image/faq.png" class="img-responsive" />
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="home-headline">
				<span>Featured Books</span>
			</div>
			<hr style="margin-top: -15px;" />
		</div>


		<div class="row">
			<div id="featured-books" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#featured-books" data-slide-to="0" class="active"></li>
					<li data-target="#featured-books" data-slide-to="1"></li>
					<li data-target="#featured-books" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<img src="/image/shelf.png" class="img-responsive" />
						<div class="carousel-caption">
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="/image/shelf.png" class="img-responsive" />
						<div class="carousel-caption">
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<img src="/image/shelf.png" class="img-responsive" />
						<div class="carousel-caption">
							<div class="row">
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
								<div class="col-xs-2">
									<img class="img-responsive" src="/image/book1.png" />
								</div>
							</div>
						</div>
					</div>
				</div>

