<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>
			</div>
			<div class="col-xs-4">
				<img src="/image/logo.png" class="img-responsive" />
			</div>
		</div>
		<hr
			style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
		<img class="img-responsive" src="/image/wood.png"
			style="margin-top: -75px;" />

		<div class="row" style="margin-top: 60px;">
			<div class="col-xs-9 col-xs-offset-3">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs">
					<li><a href="#tab-1" data-toggle="tab"><span
							style="color: red;">Create new account</span></a></li>
					<li><a href="#tab-2" data-toggle="tab"><span
							style="color: red;">Log in</span></a></li>
					<li><a href="#tab-3" data-toggle="tab"><span
							style="color: red;">Forget Password</span></a></li>
				</ul>